body 
{
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #4E5869;
	margin: 0;
	padding: 0;
	color: #000;
}
*
{
	margin:0px;
	padding:0px;

}
#wrapper
{
	width:99.8%;
	margin:auto;
	background-color:#1c2b4b;
	border:1px solid #1c2b4b;
	overflow:hidden;
}
#innerwrap
{
	width:auto;
	padding-top:15px;
	padding-bottom:15px;
	margin:auto;
	color:#fff;
	float:left;
	line-height:50px;
}
#innerwrap h1
{
	float:left;
	padding-left:70px;
}
#innerwrap ul
{
	padding-left:180px;
	list-style-type:none;
	float:left;
}
#innerwrap ul li
{
	float:left;
	width:100px;
	text-align:center;
}
#innerwrap ul li a
{
	text-decoration:none;
	color:#fff;	
}
#innerwrap ul li a:hover
{
	border:8px solid #069;
	background-color:#069;
	border-radius:20px;
}
#newrap
{
	clear:both;
	background-color:#C03;
	width:100%;
	height:550px;
	background-image:url(Book-Wallpapers-HD-Images-Download.jpg);
}
#content h2
{
	text-align:center;
	padding-top:220px;
	color:#1c2b4b;
}
#content h1
{
	text-align:center;
	color:#1c2b4b;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:46px;
	padding-top:15px;
}
#content
{
	width:100%;
	height:100%;
	clear:both;
	padding:50px;
}
#content1
{
	
	background-color:#000;
	width:160px;
	height:160px;
	background-image:url(madam.jpg);
}
#msg
{
	clear:both;
	width:550px;
	height:auto;	
}
#msg p
{
	float:right;
	padding:20px;
	color:#FFF;
	text-align:justify;
}
#msg h1
{	
float:left;	
}
#foter
{
	margin-top:200px;
	padding:50px;
	background-color:#606;
	color:#fff;

}
#foter h1
{
	float:left;
}
#foter p
{
	padding-left:800px;
}
#last
{
	text-align:center ;
	background-color:#303;
}